Django==1.9.4
django-decouple==2.1
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
javascript==2015.32.59
lxml==4.1.1
parsel==1.4.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
pyOpenSSL==17.5.0
python-decouple==3.1
pytz==2018.3
queuelib==1.4.2
Scrapy==1.5.0
service-identity==17.0.0
six==1.11.0
Twisted==17.9.0
w3lib==1.19.0
zope.interface==4.4.3
