@font-face {
  font-family: 'Comfortaa-Bold';
  src: 	url('../fonts/Comfortaa-Bold.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/Comfortaa-Bold.woff') format('woff'), 
  		url('../fonts/Comfortaa-Bold.woff2') format('woff2'), 
  		url('../fonts/Comfortaa-Bold.ttf')  format('truetype'), 
  		url('../fonts/Comfortaa-Bold.svg#Comfortaa-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Comfortaa-Light';
  src: 	url('../fonts/Comfortaa-Light.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/Comfortaa-Light.woff') format('woff'), 
  		url('../fonts/Comfortaa-Light.woff2') format('woff2'), 
  		url('../fonts/Comfortaa-Light.ttf')  format('truetype'), 
  		url('../fonts/Comfortaa-Light.svg#Comfortaa-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Comfortaa-Regular';
  src: 	url('../fonts/Comfortaa-Regular.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/Comfortaa-Regular.woff') format('woff'), 
  		url('../fonts/Comfortaa-Regular.woff2') format('woff2'), 
  		url('../fonts/Comfortaa-Regular.ttf')  format('truetype'), 
  		url('../fonts/Comfortaa-Regular.svg#Comfortaa-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	color: #000000;
}
a:hover {
	text-decoration: none;
	transition:all 0.3s ease-in-out;
}
/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
input, select {
	vertical-align: middle;
}
body {
	margin: 0;
	padding: 0;
    font-family: 'Comfortaa-Light';
    background: #f3f4f8;
}
img {
	vertical-align: top;
}
.clear{
    clear: both;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.tabels {
    display: table;
    height: 100%;
    width: 100%;
}
.tabel-cell {
    display: table-cell;
    vertical-align: middle;
}
.cover-banner{
	background: url(../images/banner.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	padding: 40px 0 0;
}
.logo{}
.logo img{
	margin: 0 auto;
}
.form-holder{
	max-width: 600px;
	margin: 10px auto 0;
	padding: 30px 50px;
}
.input-field{
	display: block;
	width: 100%;
	border: transparent;
	height: 70px;
	padding: 10px 10px 10px 65px;
	font-size: 24px;
	color: #fff;
	border-bottom: 1px solid rgba(170, 178, 189, 0.36);
}
.input-field:focus{
	outline-color: #fff;
}
.input-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	color: #aab2bd;
  	font-size: 20px;
}
.input-field::-moz-placeholder { /* Firefox 19+ */
	color: #aab2bd;
	font-size: 20px;
}
.input-field:-ms-input-placeholder { /* IE 10+ */
	color: #aab2bd;
	font-size: 20px;
}
.input-field:-moz-placeholder { /* Firefox 18- */
	color: #aab2bd;
	font-size: 20px;
}
.input-field.username{
	border-radius: 5px 5px 0 0;
	background: rgba(245, 247, 250, 0.29) url(../images/user-icon.png) no-repeat;
	background-position: 10px 15px;
}
.input-field.password{
	background: rgba(245, 247, 250, 0.29) url(../images/password-icon.png) no-repeat;
	background-position: 10px 15px;
}
.input-field.dob{
	background: rgba(245, 247, 250, 0.29) url(../images/birthday-icon.png) no-repeat;
	background-position: 10px 15px;
}
.input-field.email{
	background: rgba(245, 247, 250, 0.29) url(../images/email-icon.png) no-repeat;
	background-position: 10px 15px;
}
.input-field.address{
	background: rgba(245, 247, 250, 0.29) url(../images/address-icon.png) no-repeat;
	background-position: 10px 15px;
}
.input-field.phone{
	background: rgba(245, 247, 250, 0.29) url(../images/phone-icon.png) no-repeat;
	background-position: 10px 15px;
}
.f-email{
	background: rgba(245, 247, 250, 0.29) url(../images/email-icon.png) no-repeat;
	background-position: 10px 15px;
}
.form-holder input[type="submit"]{
	background: #ea2b4a;
	border: transparent;
	width: 100%;
	display: block;
	height: 70px;
	color: #fff;
	text-align: center;
	font-size: 24px;
	transition: all 0.5s;
}
.form-holder input[type="submit"]:hover{
	background: #fff;
	color: #ea2b4a;
}
.forgot{
	text-align: center;
	margin: 30px 0 0;
	font-size: 18px;
	color: #fff;
}
.forgot a{
	color: #ea2b4a;
}
.acount{
	text-align: center;
	margin: 15px 0 0;
	font-size: 18px;
	color: #fff;
}
.acount a{
	color: #ea2b4a;
}

/*Dashboard Styles*/
header{
	background: #37465D;
}
.navbar{
	border: none;
}
.navbar-nav>li>a{
	color: #fff;
}
.navbar-nav>li>a:focus, .navbar-nav>li>a:active{
	background-color: #081b36;
}
.sidebar{
	background: #081b36;
}
.header .brand{
	background-color: #081b36;
}
.main-navigation{
	top: 15%;
}
.small-logo{
	text-align: center;
}
.small-logo img{
	width: auto;
	margin: 0 auto;
}
.main-navigation ul>li>a>img{
	vertical-align: middle;
}
.main-navigation ul>li>a>span{
	display: inline-block;
    padding-left: 12px;
}
.main-content .content-wrap{
	padding: 30px;
}
.spacer{
	margin-top: 60px;
}
.title-header{
	background: #fff;
    padding: 20px;
}
.title-header h2{
	color: #081b36;
	font-family: 'Comfortaa-Regular';
	font-size: 18px;
}
.no-record{
	background: #fff;
	padding: 20px;
	text-align: center;
	max-width: 700px;
	margin: 20px auto;
}
.no-record span{
	display: block;
	color: #ea2b4a;
	font-size: 32px;
	font-family: 'Comfortaa-Regular';
}
.two-cols{
	margin: 10px 0 20px;
}
.bookings-holder{
	background: #fff;
	padding: 20px;
}
.bookings-holder h3{
	text-align: center;
	border-bottom: 1px solid #ebeef1;
	color: #ea2b4a;
	padding-bottom: 8px;
	font-family: 'Comfortaa-Bold';
	margin-bottom: 20px;
}
.booking-col{
	position: relative;
	border-bottom: 1px dashed #e3e3e3;
	padding-bottom: 10px;
	margin: 20px 0;
}
.booking-col h4{
	margin-bottom: 10px;
	color: #081b36;
	font-family: 'Comfortaa-Regular';
	font-size: 26px;
}
.booking-col h4 a:hover{
	color: #ea2b4a;
}
.booking-col h5{
	color: #aab2bd;
}
.booking-col span img{
	vertical-align: middle;
	max-width: 25px;
}
.booking-col ul{
	margin: 20px 0 0;
	text-align: center;
}
.booking-col ul li{
	display: inline-block;
	font-size: 16px;
	color: #e3e3e3;
	padding: 0 5px;
}
.booking-col ul li strong{
	font-family: 'Comfortaa-Bold';
	color: #081b36;
	padding-left: 5px;
}
.booking-col ul li span{
	color: #57586c;
}
.cost{
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
}
.cost span{
	color: #aab2bd;
	display: block;
}
.cost strong{
	color: #ea2b4a;
	font-family: 'Comfortaa-Bold';
	display: block;
	font-size: 32px;
}
.scroll-content {
    overflow: auto;
    position: relative;
    height: 700px;
}
.state-col{
	background: #fff;
}
.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #fff;
}
.small-box .inner{
	padding: 15px;
}
.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 5px 0;
    white-space: nowrap;
    padding: 0;
}
.small-box p {
    font-size: 15px;
}
.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: 6px;
    right: 15px;
    z-index: 0;
    font-size: 60px;
    color: rgba(0,0,0,0.15);
}
.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255,255,255,0.8);
    display: block;
    z-index: 10;
    text-decoration: none;
}
.yellow-bg .inner{
	background-color: #FFBC59;
}
.yellow-bg .small-box-footer{
	background-color: #f1a93e;
	color: #fff;
}
.red-bg .inner{
	background-color: #EA2B4A;
}
.red-bg .small-box-footer{
	background-color: #c13a50;
	color: #fff;
}
.green-bg .inner{
	background-color: #3cc864;
}
.green-bg .small-box-footer{
	background-color: #2faf54;
	color: #fff;
}
.modal-dialog{
	margin: 80px auto;
}
.close-ico{
	position: absolute;
    top: 0;
    right: 0;
}
.close-ico img{
	cursor: pointer;
}
.title{
	color: #ea2b4a;
	text-align: center;
	font-size: 38px;
	font-family: 'Comfortaa-Regular';
	margin: 10px 0 20px;
}
.detail-holder{
	margin: 10px 0;
	padding: 5px 20px;
}
.detail-holder .booking-col{
	border-bottom: none;
}
.included{}
.included h4{
	color: #57586c;
	font-family: 'Comfortaa-Bold';
	font-size: 18px;
	text-decoration: underline;
}
.included ul{
	margin: 20px 0 20px 20px;
}
.included ul li{
	display: block;
	color: #57586c;
	font-size: 14px;
	padding: 5px 0;
}
.included ul li .fa{
	font-size: 10px;
	vertical-align: middle;
	padding-right: 5px;
}
.booking-actions{
	margin: 30px 0 0;
}
.booking-actions ul{
	list-style: none;
	text-align: center;
}
.booking-actions ul li{
	display: inline-block;
	margin: 0 20px;
}
.booking-actions ul li .fa{
	width: 60px;
	height: 60px;
	color: #fff;
	border-radius: 50%;
	font-size: 32px;
	padding-top: 15px;
	cursor: pointer;
}
.booking-actions ul li span{
	display: block;
	font-size: 14px;
	padding: 5px 0;
}
.booking-actions ul li.green .fa{
	background: #3cc864;
}
.booking-actions ul li.green span{
	color: #3cc864;
}
.booking-actions ul li.red .fa{
	background: #ea2b4a;
}
.booking-actions ul li.red span{
	color: #ea2b4a;
}
.booking-actions ul li.blue .fa{
	background: #081b36;
}
.booking-actions ul li.blue span{
	color: #081b36;
}
.form-content{
	background: #fff;
	padding: 20px;
}
.form-content label{
	margin-bottom: 5px;
}
.form-content  h3{
	color: #081b36;
    font-family: 'Comfortaa-Bold';
    font-size: 18px;
    padding: 30px 0;
    text-decoration: underline;
}
.add-more{
	color: #ea2b4a;
	text-align: right;
	margin: 20px 0;
	cursor: pointer;
	font-family: 'Comfortaa-Bold';
}
hr{
	border-top: 1px solid #e8ecf3;
}
.custom-btn{
	margin: 20px 0;
	text-align: right;
}
.custom-btn button{
	background: #081b36;
	border: transparent;
	color: #fff;
	min-width: 300px;
	padding: 10px 0;
	text-align: center;
	font-size: 16px;
	border-radius: 4px;
	transition: all 0.5s;
	text-transform: uppercase;
    letter-spacing: 1px;
}
.custom-btn button:hover{
	background: #ea2b4a;
}
.manage-package-holder{
	position: relative;
}
.create-new{
	position: absolute;
    right: 0;
    top: 0;
}
.create-new a{
	background: #ea2b4a;
    color: #fff;
    padding: 10px 0;
    font-size: 18px;
    width: 250px;
    border-radius: 4px;
    display: block;
    text-align: center;
}
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: #d8d8d8;
	color: #081b36;
	display: inline-block;
	padding: 15px 20px;
	cursor: pointer;
	font-size: 18px;
}

ul.tabs li.current{
	background: #ea2b4a;
	color: #fff;
}

.tab-content{
	display: none;
	background: #fff;
	padding: 30px;
}

.tab-content.current{
	display: inherit;
}
.package-holder{
	position: relative;
	margin: 30px 0;
	border-bottom: 1px solid #f3f4f8;
    padding-bottom: 15px;
}
.package-holder h2{
	color: #ea2b4a;
	font-family: 'Comfortaa-Bold';
	font-size: 20px;
	margin-bottom: 20px;
	max-width: 520px;
}
ul.package-loc{
	list-style: none;
}
ul.package-loc li{
	display: inline-block;
	margin-right: 25px;
	font-size: 14px;
}
ul.package-loc li img{
	padding-right: 5px;
}
ul.package-loc li strong{
	font-family: 'Comfortaa-Bold';
}
.editable{
	margin: 30px 0;
	border: 1px solid #d0d0d0;
	overflow: auto;
    position: relative;
    height: 250px;
}
.editable ul{
	list-style: none;
	padding: 20px;
}
.editable ul li{
	display: block;
	font-size: 16px;
    margin: 10px 0;
}
.editable ul li .fa {
    font-size: 10px;
    vertical-align: middle;
    padding-right: 5px;
}
.editable .mCSB_scrollTools{
	width: 5px;
}
.edit-package{
	text-align: right;
	font-size: 18px;
}
.edit-package a{
	color: #ea2b4a;
}
.edit-package a img{
	vertical-align: middle;
	width: 24px;
}
.status{
	position: absolute;
	top: 0;
	right: 0;
	color: #57586c;
	font-family: 'Comfortaa-Bold';
	text-align: center;
}
.status p{
	padding-top: 5px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #081b36;
}
input:focus + .slider {
  box-shadow: 0 0 1px #081b36;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.list-group{
	margin-bottom: 5px;
}
.list-group-item small{
	display: block;
	color: #aab2bd;
}
.panel-footer{
	text-align: center;
}
.dropdown .fa{
	font-size: 16px;
}
.dropdown .badge{
	background: #EA2B4A;
	font-size: 8px;
}
.input-container {
  position: relative;
  margin-bottom: 20px;
}
.input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 55px;
  border: 0;
  color: #212121;
  font-size: 22px;
  font-weight: normal;
}
.input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
    transform: translate(-12%, -50%) scale(0.75);
}
.input-container input:focus ~ .bar:before, .input-container input:focus ~ .bar:after {
  width: 50%;
}
.input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
    transform: translate(-12%, -50%) scale(0.75);
}
.input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 16px;
  font-weight: normal;
  line-height: 60px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #e8ecf3;
  width: 100%;
  height: 1px;
}
.input-container .bar:before, .input-container .bar:after {
  content: '';
  position: absolute;
  background: #EA2B4A;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.input-container .bar:before {
  left: 50%;
}
.input-container .bar:after {
  right: 50%;
}
.booking-history{
	background: #fff;
	padding: 20px;
}
.history-col{
	position: relative;
    margin: 30px 0;
    padding: 0 25px 15px;
    border-bottom: 1px solid #f3f4f8;
}
.history-col h2 {
    color: #ea2b4a;
    font-family: 'Comfortaa-Bold';
    font-size: 20px;
    margin-bottom: 20px;
}
.history-col p{
	margin: 25px 0 15px;
	font-size: 14px;
	color: #aab2bd;
}
.rating {
    position: absolute;
    top: 0;
    right: 20px;
    color: #57586c;
    font-family: 'Comfortaa-Bold';
    text-align: center;
}
.rating .fa{
	color: #ea2b4a;
}
.box{
	text-align: center;
}
.box input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.box .inputfile + label {
    /*max-width: 80%;*/
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}
.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #d3394c;
}
.no-js .inputfile + label {
    display: none;
}
.box .inputfile:focus + label,
.box .inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.box .inputfile + label * {
	color: #ea2b4a;
	font-weight: normal;
	margin: 0 auto;
    /* pointer-events: none; */
}

.box .inputfile-4 + label {
    color: #d3394c;
}
.box .inputfile-4:focus + label,
.box .inputfile-4.has-focus + label,
.box .inputfile-4 + label:hover {
    color: #722040;
}
.box .inputfile-4 + label figure {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ea2b4a;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}
.box .inputfile-4:focus + label figure,
.box .inputfile-4.has-focus + label figure,
.box .inputfile-4 + label:hover figure {
    background-color: #c13a50;
}

#grid-container a{
	display: inline-block;
	position: relative;
	padding: 0;
}
#grid-container a figure {
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
	border: 4px solid #fff;
}

/* Zoom Out #1 */
#grid-container a figure img {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#grid-container a figure:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.align-right{
	text-align: right;
	margin: 20px 0;
}
.box.align-right .inputfile + label *{
	color: #fff;
	font-size: 18px;	
}
.align-right .fa{
	padding-right: 10px;
}
.box .inputfile-4 + label figure.main-image{
	width: 220px;
    height: 220px;
}
figure.main-image img{
	padding-top: 25px;
}
.messages-holder{
	background: #fff;
	padding: 15px;
}
.messages-holder{}
.messages-holder ul{
	list-style: none;
}
.messages-holder ul li{
	display: block;
	border-bottom: 1px solid #f3f4f8;
    padding: 20px 5px;
}
.messages-holder ul li a{}
.user-profile-pic{
	float: left;
	width: 100px;
}
.user-profile-pic img{
	border: 2px solid #aab2bd;
}
.user-message{
	float: left;
	width: 90%;
}
.user-message small{
	display: block;
	color: #aab2bd;
	padding-top: 5px;
}
.message-detail .user-message{
	width: 85%;
}
.message-detail .user-message p{
	margin-bottom: 15px;
	line-height: 26px;
    font-size: 16px;
}
.main-navigation .dropdown-menu a{
	padding: 8px 20px!important;
}
.app:not(.small-sidebar) .collapsible ul>li>ul{
	background: #37465D;
}
.header .navbar-toggle, .header [data-toggle=off-canvas]{
	color: #fff;
	font-size: 24px;
	margin-top: 2px;
}





/*Media Queries*/
@media screen and (max-width:1400px){
	.booking-col ul li{
		font-size: 12px;
		padding: 0 0px;
	}
	.booking-col ul li img{
		width: 16px;
	}
	.booking-col h4{
		font-size: 20px;
	}
	.cost span{
		font-size: 12px;
	}
	.cost strong{
		font-size: 26px;
	}
	.rating{
		position: static;
	}
	ul.package-loc li{
		display: block;
		margin: 10px 0;
	}
}
@media screen and (max-width:1280px){}
@media screen and (max-width:1199px){
	.full-width-col{
		width: 100%;
	}
	.bookings-holder{
		margin: 10px 0;
	}
	.small-box h3{
		font-size: 30px;
	}
	.switch{
		width: 50px;
    	height: 27px;
	}
	.slider:before{
		height: 22px;
	    width: 20px;
	    left: 2px;
	    bottom: 3px;
	}
	.status p{
		font-size: 10px;
	}
	ul.package-loc li{
		display: block;
		margin: 12px 0;
	}
	.edit-package{
		font-size: 14px;
	}
	.editable{
		margin: 30px 0 15px;
	}
	.status{
		position: static;
		margin-bottom: 20px;
	}
	.tab-content{
		padding: 15px;
	}
	.package-holder h2{
		font-size: 18px;
	}
}
@media screen and (max-width:991px){
	.create-new{
	    position: static;
	    margin-bottom: 20px;
	}
	.create-new a{
		margin: 0 0 0 auto;
	}
	ul.tabs li{
		padding: 12px 12px;
		font-size: 14px;
	}
	.package-holder h2{
		font-size: 18px;
	}
	.editable ul{
		 padding: 10px;
	}
}
@media screen and (max-width:767px){
	/*.cover-banner{
		height: 100%;
	}*/
	.form-holder{
		padding: 30px 0px;
		margin: 10px auto 0;
	}
	.main-content .content-wrap {
	    padding: 15px;
	}
	.booking-col ul li{
		margin: 5px 0;
	}
	.tab-content{
		padding: 15px;
	}
	.booking-history{
		padding: 5px;
	}
	.history-col{
		padding: 0 15px 15px;
	}
}
@media screen and (max-width:680px){
	.logo img{
		max-width: 300px;
	}
	.forgot, .acount{
		font-size: 16px;
	}
	.cost{
		position: static;
		margin: 15px 0;
	}
	.title{
		font-size: 26px;
	}
	.close-ico img{
		width: 55px;
	}
	.detail-holder{
		padding: 5px 0px;
	}
	.booking-actions ul li{
		margin: 0 10px;
	}
	.booking-col h4 {
	    font-size: 16px;
	}
	.spacer {
	    margin-top: 10px;
	}
	ul.package-loc li{
		font-size: 13px;
	}
	.main-navigation {
	    top: 22%;
	}
	.custom-btn button{
		min-width: 100%;
	}
}
@media screen and (max-width:420px){
	.booking-col ul li:nth-child(2){
		display: none;
	}
	.booking-actions ul li .fa{
		width: 45px;
    	height: 45px;
        font-size: 22px;
    	padding-top: 12px;
	}
	.booking-actions ul li span{
		font-size: 12px;
	}
	.booking-col h5{
		font-size: 11px;
	}
	ul.tabs li{
		padding: 12px 10px;
	}
}
@media screen and (max-width:380px){
	.forgot a, .acount a{
		    display: block;
	}
	.container{
		padding-right: 10px;
    	padding-left: 10px;
	}
}
@media screen and (max-width: 50em) {
	.inputfile-6 + label strong {
		display: block;
	}
}


