.App-header {
  padding: 10px;
  border-bottom: 1px solid black;
}

.result-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.play-container {
  display: block;
  position: relative;
  width: 854px;
  height: 480px;
}

.play-container:after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.content-right {
  display: block;
  position: fixed;
  width: 500px;
  left: 30px;
}