{%  load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<div id="right">
    <a href="{% url 'login'%}">Logout.</a>
</div>
<br />


<form method="post" action="{% url 'login' %}">
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>

{% endif %}
<p><a href="{% url 'password_change' %}">Change Password</a></p>
</form>